# Django-related
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Environment variables
.env

# Django specific folders
/static/
/media/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Environments
venv/
env/
__pypackages__/

# VS Code
.vscode/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/
